#################################
###### Application settings #####
#################################

APP_NAME=wordpress
APP_ENV=local
APP_PORT=8080
APP_DEBUG=true
#APP_DOMAIN=new-${APP_NAME}
APP_URL=http://localhost
#APP_URL=https://${APP_DOMAIN}.test

#################################
######## Images settings ########
#################################

# External
APP_IMAGE_WORDPRESS=wordpress:latest
#APP_IMAGE_WORDPRESS=wordpress:5.9.0-php8.0-apache
APP_IMAGE_MYSQL=mysql:8.0
APP_IMAGE_PHPADMIN=phpmyadmin:latest
#Internal
APP_IMG_DB_INTERNAL=database

#################################
####### Database settings #######
#################################

DB_CONNECTION=mysql
# Use only the host '${APP_IMG_DB_INTERNAL}' for development with the docker machine.
# In the opposite case (From the computer) use localhost or 127.0.0.1
DB_HOST=${APP_IMG_DB_INTERNAL}
DB_PORT=3307
DB_DATABASE=${APP_NAME}
DB_USERNAME=manager
DB_PASSWORD=secret
DB_ROOT_PASSWORD=secret

DB_PMA_HOST=${APP_IMG_DB_INTERNAL}
DB_PMA_PORT=8090

#################################
####### WordPress settings ######
#################################

WORDPRESS_DB_NAME=${APP_NAME}
WORDPRESS_DB_USER=${DB_USERNAME}
WORDPRESS_DB_PASSWORD=${DB_PASSWORD}
WORDPRESS_DB_HOST=${APP_IMG_DB_INTERNAL}
